@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0f14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --toastify-color-light: #fff;
  --toastify-color-dark: #252a32 !important;
  --toastify-color-info: #3498db;
  --toastify-color-success: #d17842 !important;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #252a32;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #252a32;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided
   toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  /* Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);

  /* used to control the opacity of the progress trail */
  --toastify-color-progress-bgo: 0.2;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @apply bg-primaryOrangeHex text-primaryWhiteHex px-4 py-2 rounded-md;
}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input,
textarea,
select {
  @apply border-2 border-secondaryLightGreyHex w-full rounded-md box-border py-1 px-2 mb-2 text-primaryBlackHex;
  @apply bg-primaryWhiteHex outline-none;
}
input:focus,
textarea:focus,
select:focus {
  @apply border-primaryOrangeHex;
}

h1 {
  @apply text-primaryOrangeHex mb-2 text-2xl font-bold;
}

label {
  @apply text-primaryOrangeHex mb-1 text-lg font-semibold;
}
table.basic {
  @apply w-full;
}
table.basic tr td {
  @apply border border-primaryGreyHex p-1;
}
table.basic thead tr td {
  @apply bg-primaryLightOrangeHex font-semibold;
}

table.basic a,
table.basic button,
button.btnflex {
  @apply flex justify-center items-center gap-1 bg-primaryOrangeHex text-primaryWhiteHex px-4 py-2 rounded-md;
}
